<!DOCTYPE html>
<html>
  <head>
    <title>InterviewApp1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--Navigation Bar-->
    <nav class="navbar navbar-light bg-light d-flex">
      <div class="container">
        <div class="logo">
          <a class="navbar-brand" href="<%= root_path %>" data-method="get">
            InterviewApp1
          </a>
        </div>
        
        <div class="user-section">
          <%= link_to 'Add Participants', new_participant_path %>
          <%= link_to 'View Participants', participants_path %>
        </div>
      </div>
    </nav>

    <!--Main content-->
    <main class="container mb-5">
      <%= yield %>
    </main>

  </body>
</html>
